div{
    margin: 75px;
}

#div1{
    margin-top: 75px;
}

header div{
    margin: unset;
}

#smallerProfileImg{
    width: 100px;
    height: auto;
    margin-right: 20px;
    border: 1px solid silver;
}

.links{
    /*
    border-radius: unset;
    width: unset;
    height: unset; */
    margin: unset;
    margin: 0px 30px;
    padding: 10px;
    width: 70px;
}

main img{
    max-width: 99%;
}

video{
    max-width: 90%;
}

h1{
    font-size: 45px;
}



@media screen and (max-width: 873px)
{
    h1{
        font-size: 30px;
    }

    .selkie{
        height: auto;
    }
}

