main{
    margin: 2% 7%;
}

ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding-left: unset;
}

li{
    border: 3px solid rgb(58, 58, 58);
    padding: 5%;
    margin: 1rem 2rem;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(242,254,254,1) 97%, rgba(242,254,254,1) 100%);
    border-radius: 15px;
    text-align: center;
}