body{
    background-image: url("../images/ePortfolioBackgroundGreyDiamonds.png");   /* background */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 

    font-family: 'Rubik', sans-serif; /* font/text */
}

header{
    position: relative;
    height: 15vh;
}

#profileImg{
    width: 10%;
    clip-path: circle(50% at 10% 50%);
    position: absolute;
    left: 0;
    top: 0;
}

#headerBar{
    width: 100%;
    height: 66%;
    background-color: rgb(202, 241, 241);
}

h1{
    height: 100%;
    margin: unset;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 2px 5px 2px 9%;
    color: rgb(58, 58, 58);
}

nav{
    padding-left: 9%;
    height: 34%;
    width: 91%;
    display: flex;
    align-items: center;
    background-color: rgb(122, 121, 121);
}

nav a{
    text-decoration: none;
    color: white;
    padding: 5px 1.5rem 5px 0;
}

footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    font-style: italic;
}